@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* NOTE: Premade styling for firebaseUI template. Disabled since it renders in darkmode by default.
* @import "@firebase-oss/ui-styles/dist.min.css";
* */

:root {
  /* Color variables */
  --bg-color: #fcf8f3;
  --alabaster: #fafafa;
  --white: #ffffff;
  --light-gray: #d4d4d4;
  --deactivated-color: #9ca3af;
  --gray: #555555;
  --light-blue: #c3d5e1;
  --blue: #303372;
  --dark-blue: #11133c;
  --black: #030504;
  --red: #eb1d4e;
  --light-orange: #fabb91;
  --orange: #f9a86f;
  --orange-bg: #fff9f5;
  --orange-border: #feebdd;
  --neon-green: #79fe9d;
  --green: #2d9e6b;
  --green-border: #cde8dc;
  --green-bg: #f0f8f5;
  --bg-warning: #fef1e9;
  --text-warning: #c25000;

  /* Text variables */
  --h1: 2rem;
  --h2: 1.75rem;
  --h3: 1.5rem;
  --h4: 1.25rem;
  --h5: 1rem;
  --body: 1rem;
  --body-small: 0.875rem;
  --button: 1rem;
  --badge-pill: 0.75rem;

  /* Corner radius variables */
  --rounded-s: 0.25rem;
  --rounded-m: 0.375rem;
  --rounded-l: 0.75rem;

  /* Shadow variables */
  --shadow-s: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.03);
  --shadow-m: 0 2px 4px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.04);
  --shadow-l: 0 4px 8px rgba(0, 0, 0, 0.08), 0 6px 16px rgba(0, 0, 0, 0.05);
}

html {
  box-sizing: border-box;
  background-color: #fcf8f3;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  font-family: inherit;
}

p {
  margin: 0;
}

/* Spacing mellom bildene i ImageCarousel */
.carousel-item-spacing {
  padding: 0 0.1rem;
}

/* Styling for dot-list under ImageCarousel */
.custom-dot-list .react-multi-carousel-dot button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white !important;
  background: color-mix(in srgb, var(--white) 50%, transparent);
  opacity: 0.6;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}

.custom-dot-list .react-multi-carousel-dot--active button,
.custom-dot-list
  .react-multi-carousel-dot
  button.react-multi-carousel-dot--active {
  background: color-mix(in srgb, var(--dark-blue) 90%, transparent);
  opacity: 1;
}
/* Toastify farger basert på variant */
.Toastify__toast--success {
  --tp-color: var(--green);
}
.Toastify__toast--error {
  --tp-color: var(--red);
}
.Toastify__toast--warning {
  --tp-color: var(--orange);
}
.Toastify__toast--info {
  --tp-color: var(--blue);
}

/* Toastify ikon og progressBar */
.Toastify__toast-icon svg {
  fill: var(--tp-color);
}
.Toastify__progress-bar {
  background: var(--tp-color);
}
